/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer utilities{
  .first-bg{
      /* background-image: url(/image/bg1.png) ; */
      /* background-repeat:no-repeat; */
      background-attachment:fixed;
      background-size:100vw;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
